


.Main {
    border: 1px solid green;
    width: 1000px;
    margin: auto;
    height: 900px;
    border-radius: 40px;
    color: red;
    font-weight: bold;
    font-size: 20px;
    background-image: url('../images/157383-cool-blue-website-background-textures.jpg');
    
}


.referrorBox {
    width: 300px;
    background: transparent;
    border: none;
    color: red;
}

.Main-Logo {
    position:relative ;
    top: 20px;
    left: 40px;
    color:blue;
    border: 1px solid black;
    background-color: white;
    width: 140px;
    height: 100px;
    text-align: center;
    


}

.Main-DropDown {
    position:relative ;
    top: 20px;
    left: 700px;
    color:blue;
    min-width: 100px;
 
    text-align: center;
    


}


.Main-bottom {
    position:relative ;
    top: 250px;
    left: 240px;
    color:white;
    display: flex;
    width: 500px;
    height: 80px;
    border-radius: 20px;
    border: solid 2px blue;
    text-align: center;
    bottom: 15px;
                                                


}

.BottomBox {
    color:red;
    width: 166.66px;
    margin: 0px;
    text-align: center;
    padding-top: 5px;
    font-size: 16px;
    background-color: white;

                                                

}

.Center {
    position:relative;
    top:-40px;
    width: 500px;
    height: 450px;
    left: 240px;
    display: block;

                                                
    

}


.Pic {
    border:1px solid white;
    width: 360px;
    height: 360px;
    position: relative;
    top: 5px;
    left: 60px;
    text-align: center;

}

.MintText {

    width: 200px;
    height: 50px;
    position: relative;
    top: 5px;
    left: 170px;

                                                

}


.ConnectButton {
    width: 160px;
    height: 40px;
    position: relative;
    top: 15px;
    left: 170px;
    color:white; 
    background-Image: linear-gradient(180deg, white, blue);

                                                
}

.QtyPrice{

    width: 300px;
    position: relative;
    left: 100px;
    height: 190px;

                                                


}

.QtyPriceBox {
    line-height: 50px;
    height: 61px;
    width: 270px;
    position: relative;
    left: 15px;
    padding: 0;

                                                

    



}
